@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'ProximaNovaRg';
    src: url('../fonts/ProximaNova-Regular.ttf');
}
@font-face {
    font-family: 'Ilisar-light';
    src: url('../fonts/Ilisarniq-Regular.ttf');
  }


header{
    padding : 10px 0;
}
.custom-container{
    width: 97%;
}
.flex-div{
    display: flex;
    justify-content: space-between;
}
.flex-div > div{
    width: 50%;
    height : 20px;
}
.flex-div > div:nth-child(2){
    text-align: right;
}
.flex-div > div img{
    width: 48%;
}
.flex-div > div:nth-child(2) img{
    width: 30%;
}
.bg-gray{
    background: linear-gradient(
48.62deg
, rgba(242, 242, 242, 0.4) -5.21%, rgba(242, 242, 242, 0.3) 58.33%, rgba(242, 242, 242, 0.4) 99.79%);
    border-radius: 3px;
    padding: 20px 8px 20px;
    text-align: center;
    position: relative;
    margin-top: 10px;
}
.flex{
    display: flex;
    align-items: center;
}
.flex > div:nth-child(1){
    width: 40%;
    height: 73px;
}
.flex > div img{
    width : 84%;
}
.flex > div:nth-child(2){
    width: 60%;
    text-align: left;
    padding-left: 0px;
}
.h2-pay{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    /* text-align: center; */
    color: #373844;
    margin: 0;
}
.h2-pay span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-left: 5px;
    color: #2DAFE6;
}
.pay-text p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    color: #373844;
    margin-top: 0;
}
.otp-sent{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: normal;
    text-align: center;
    color: #373844;
}
.opt-input{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px;
    height: 23px;
    margin: 0px 0 4px;
    width: 50%;
}
.opt-div p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: normal;
    text-align: center;
    color: #3580FF;
    margin: 0;
}
.verify{
    background: linear-gradient( 
    180deg
    , #619BFF 0%, #3580FF 100%);
    border-radius: 25px;
    color: #fff;
    position: absolute;
    bottom: -11px;
    left: 18%;
    /* right: 0; */
    width: 62%;
    padding: 5px;
    box-shadow: unset;
    border: unset;
    font-size: 10px;
}
.pad50{
    padding: 10px 0;
}
.width-47{
    width: 62%; 
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.width-47 p a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 19px;
    text-align: right;
    color: #3580FF;
    margin: 11px 0;
}
.know-more{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: normal;
    display: flex;
    align-items: center;
    color: #3580FF;
    padding-left: 17px;
}


.container-label {
    display: block;
    position: relative;
    padding-left: 17px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 10px;
    width: 10px;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
  }
  
  /* On mouse-over, add a grey background color */
  .container-label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-label input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-label .checkmark:after {
    top: 2.49px;
    left: 2.6px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: white;
  }
.ratio-btn label{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 12px;
    color: #373844;
    margin-bottom: 3px;
}
footer{
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(
48.62deg
, rgba(242, 242, 242, 0.4) -5.21%, rgba(242, 242, 242, 0.3) 58.33%, rgba(242, 242, 242, 0.4) 99.79%);
}
footer .flex-div > div img{
    width: 30px;
}
.pcy-div{
    width: 20% !important;
    text-align: right;
}
.copy-div{
    text-align: left !important;
}
.copy-para{
    margin: 0;
    vertical-align: middle;
    font-family: 'ProximaNovaRg';
    font-style: normal;
    font-weight: normal;
    font-size: 2.6px;
    text-align: justify;
    color: #273A49;
    padding-top: 0;
}
footer .flex-div > div{
    height : auto;
}
footer .flex-div > div:nth-child(2) img{
    width : 20%;
}
.iframe-div iframe{
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 3.25px;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 5%);
}
.iframe-div{
    text-align: center;
    width: 96%;
    height: 92vh;
    background: rgba(242, 242, 242, 0.5);
    border-radius: 10px;
    padding: 40px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin : 20px auto;
}
.zoom-div{
    position: absolute;
    top: 20px;
    right: 50px;
    background: rgba(53, 128, 255, 0.1);
    border-radius: 5px;
    /* width: 125px; */
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.zoom-div p{
    margin: 0;
    margin-left: 5px;
    font-family: 'Ilisar-light';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #151515;
}
.pre-header{
    padding: 10px 0;
    background: linear-gradient(48.62deg, rgba(242, 242, 242, 0.4) -5.21%, rgba(242, 242, 242, 0.3) 58.33%, rgba(242, 242, 242, 0.4) 99.79%);
}
.pre-header p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 9.1px;
    line-height: 8px;
    display: flex;
    align-items: center;
    color: #151515;
    margin: 0;
}
.pre-header p a{
    font-family: Open Sans;
font-style: normal;
font-weight: 400;
font-size: 7.8px;
line-height: 11px;
/* identical to box height */
text-align: right;
text-transform: capitalize;
color: #3580FF;
}
.pre-header .flex-div > div{
    height : auto;
}
.pre-header .flex-div > div:nth-child(2) p{
    display: block;
    text-align: right;
    margin: 0;
}
.pre-header .flex-div{
    align-items: center;
}
.need-help{
    width : 80% !important;
}
.need-help p{
    margin: 0;
}
.need-help p a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 7.8px;
    line-height: 8px;
    align-items: center;
    color: #3580FF;
}
.dark-mode {
    background: url('../images/dark-img.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .dark-mode header{
    background: #F2F2F2;
  }
.dark-mode .bg-gray{
    background: transparent;
}
.dark-mode .h2-pay, .dark-mode .h2-pay span, .dark-mode .pay-text p, .dark-mode .otp-sent, .dark-mode .ratio-btn label{
    color: #F5F3F4;
}
.dark-mode .opt-input{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.95px;
    border: unset;
}
.dark-mode .verify{
    background: #FF2C55;
}
.dark-mode footer{
    background: #F5F3F4;
}
.dark-mode .copy-para{
    color: #151515;
}
.dark-div{
    text-align: center;
}
.dark-div button{
    font-size: 9px;
    color: #fff;
}
.dark-div{
    text-align: center;
}
.dark-div button{
    font-size: 7px;
    color: #fff;
    background: #151515;
    box-shadow: unset;
    border: unset;
    padding: 3px 11px;
}
.dark-mode .pre-header p, .dark-mode .pre-header p a{
    color: #fff;
}
button:focus{
    outline: none;
}