@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'ProximaNovaRg';
    src: url('../fonts/ProximaNova-Regular.ttf');
}
@font-face {
    font-family: 'Ilisar-light';
    src: url('../fonts/Ilisarniq-Regular.ttf');
  }


header{
    padding : 10px 0;
}
.custom-container{
    width: 97%;
}
.flex-div{
    display: flex;
    justify-content: space-between;
}
.flex-div > div{
    width: 50%;
    height : 20px;
}
.flex-div > div:nth-child(2){
    text-align: right;
}
.flex-div > div img{
    width: 48%;
}
.flex-div > div:nth-child(2) img{
    width: 30%;
}
.bg-gray{
    /* background: linear-gradient(
48.62deg
, rgba(242, 242, 242, 0.4) -5.21%, rgba(242, 242, 242, 0.3) 58.33%, rgba(242, 242, 242, 0.4) 99.79%); */
border-radius: 3px;
padding: 0px 8px 0px;
text-align: center;
position: relative;
margin-top: 0px;
}
.flex{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.flex > div:nth-child(1){
    width: 42%;
    height: 72px;
    text-align: left;
    padding-right: 12px;
}
.flex > div img{
    width: 100%;
    /* margin-right: auto; */
    /* margin-left: 0; */
    text-align: left;
}
.flex > div:nth-child(2){
    /* width: 60%; */
    text-align: left;
    padding-left: 0px;
}
.h2-pay{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 9.1px;
    line-height: 16px;
    /* text-align: center; */
    color: #373844;
    margin: 0;
}
.pay-text span{
    font-weight: 600;
    font-size: 14px;
    line-height: 18.2px;
    text-align: center;
    color: #151515;
    font-family: 'Open Sans';
    margin-bottom: 10px;
}
.pay-text p{
    font-family: 'Open Sans';
    font-style: normal;
    color: #373844;
    margin-top: 7px;
    font-weight: 600;
    font-size: 11px;
    line-height: 10px;
    /* text-align: center; */
    color: #151515;
}
.otp-sent{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 9.1px;
    line-height: 13px;
    text-align: center;
    color: #151515;
    width: 76%;
    margin: 18px auto 12px;
}
.opt-input{
    background: #FFFFFF;
    border: 0.65px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 1.95px;
    padding: 5px;
    height: 23px;
    margin: 0px 0 0px;
    width: 50%;
}
.opt-div p{
    line-height: normal;
    margin-bottom: 14px;
}
.opt-div p a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: normal;
    text-align: center;
    color: #3580FF;
    margin: 0;
}
.verify{
    border-radius: 16.25px;
    color: #fff;
    width: 86%;
    padding: 5px;
    box-shadow: unset;
    border: unset;
    font-weight: 600;
    font-size: 10.4px;
    line-height: 16px;
    text-align: center;
    background: #3580FF;
    text-transform: uppercase;
}
.pad50{
    padding: 10px 0;
}
.width-47{
    width: 62%; 
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.width-47 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 12px;
    text-align: right;
    color: #151515;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 7px;
}
.know-more{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: normal;
    display: flex;
    align-items: center;
    color: #3580FF;
    padding-left: 17px;
}


.container-label {
    display: block;
    position: relative;
    padding-left: 17px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .custom-checkbox input {
    display: none;
  }
  
  .custom-checkbox span {
    border: 1px solid #D2D2D2;
    float: left;
    height: 8px;
    width: 8px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    position: absolute;
    left: 0;
    top: 3px;
  }
  
  .custom-checkbox:hover span,
  .custom-checkbox input:checked + span {
    border: 1px solid #D2D2D2;
  }
  
  .custom-checkbox input:checked + span:before {
    content: "✔";
  }
.ratio-btn label{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 12px;
    color: #373844;
    margin-bottom: 3px;
    padding-left: 16px;
    opacity: 0.6;
}
footer{
    padding: 5px 0;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(
48.62deg
, rgba(242, 242, 242, 0.4) -5.21%, rgba(242, 242, 242, 0.3) 58.33%, rgba(242, 242, 242, 0.4) 99.79%);
}
footer .flex-div > div img{
    width: 30px;
}
.pcy-div{
    width: 20% !important;
    text-align: right;
}
.copy-div{
    text-align: left !important;
    width: auto !important;
}
.copy-para{
    margin: 0;
    vertical-align: middle;
    font-family: 'ProximaNovaRg';
    font-style: normal;
    font-weight: normal;
    font-size: 2.6px;
    line-height: 4px;
    text-align: justify;
    color: #273A49;
    padding-top: 0;
}
footer .flex-div > div{
    height : auto;
}
footer .flex-div > div:nth-child(2) img{
    width : 35%;
}
.iframe-div iframe{
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 3.25px;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 5%);
}
.iframe-div{
    text-align: center;
    width: 96%;
    height: 92vh;
    background: rgba(242, 242, 242, 0.5);
    border-radius: 10px;
    padding: 40px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin : 20px auto;
}
.zoom-div{
    position: absolute;
    top: 20px;
    right: 50px;
    background: rgba(53, 128, 255, 0.1);
    border-radius: 5px;
    /* width: 125px; */
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.zoom-div p{
    margin: 0;
    margin-left: 5px;
    font-family: 'Ilisar-light';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #151515;
}
.pre-header{
    padding: 10px 0;
    background: linear-gradient(48.62deg, rgba(242, 242, 242, 0.4) -5.21%, rgba(242, 242, 242, 0.3) 58.33%, rgba(242, 242, 242, 0.4) 99.79%);
}
.pre-header p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 9.1px;
    line-height: 8px;
    display: flex;
    align-items: center;
    color: #151515;
    margin: 0;
}
.pre-header p a{
    font-family: Open Sans;
font-style: normal;
font-weight: 400;
font-size: 7.8px;
line-height: 11px;
/* identical to box height */
text-align: right;
text-transform: capitalize;
color: #3580FF;
}
.pre-header .flex-div > div{
    height : auto;
}
.pre-header .flex-div > div:nth-child(2) p{
    display: block;
    text-align: right;
    margin: 0;
}
.pre-header .flex-div{
    align-items: center;
}
.need-help{
    width : 59% !important;
}
.need-help p{
    margin: 0;
}
.need-help p a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 7.8px;
    line-height: 8px;
    align-items: center;
    color: #3580FF;
}
.dark-mode {
    background: url('../images/dark-img.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .dark-mode header{
    background: #F2F2F2;
  }
.dark-mode .bg-gray{
    background: transparent;
}
.dark-mode .h2-pay, .dark-mode .h2-pay span, .dark-mode .pay-text p, .dark-mode .otp-sent, .dark-mode .ratio-btn label{
    color: #F5F3F4;
}
.dark-mode .opt-input{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.95px;
    border: unset;
}
.dark-mode .verify{
    background: #FF2C55;
}
.dark-mode footer{
    background: #F5F3F4;
}
.dark-mode .copy-para{
    color: #151515;
}
.dark-div{
    text-align: center;
}
.dark-div button{
    font-size: 9px;
    color: #fff;
}
.dark-div{
    text-align: center;
}
.dark-div button{
    font-size: 7px;
    color: #fff;
    background: #151515;
    box-shadow: unset;
    border: unset;
    padding: 3px 11px;
}
.dark-mode .pre-header p, .dark-mode .pre-header p a{
    color: #fff;
}
button:focus{
    outline: none;
}
body.cnb{
    position: relative;
}
.ratio-btn{
    position: relative;
    margin-bottom: 10px;
}